/*general styles*/
body {
  font-family: 'Nunito', Arial, sans-serif;
  font-size: 12px;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.flex {
  display:flex;
}

.border {
  border-style: solid;
  border-color: rgb(189, 189, 189);
  border-width:0.1px;
}

.grid1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 50px;
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:30px 20px;
}

/*header styles*/
.header {
  justify-content: space-between;
  align-items: center;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-left: 10px;
  margin-right: 10px;
}

.header nav a {
  text-decoration: none;
  font-size: 13px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
}

img {
  height: 30px;
  justify-content:center;
}

/*banner styles*/
.banner1 {
  height: 800px;
  flex-direction: column;
  align-items: center;
  align-content:center;
  justify-content: center;
  background-size: cover;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/melbourne.jpg");
}

.banner1 h3 {
  color:white;
  font-size: 70px;
  filter: brightness(90%); 
}

.banner1 p {
  width:30%;
  color:white;
  font-size: 18px;
  text-align: center;
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 30px;
  filter: brightness(90%); 
}

.banner1 nav a {
  background-color: rgb(250, 67, 67) ;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 14px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  box-shadow: 1px 4px 1px rgb(184, 60, 60);
  filter: brightness(90%); 
}

/*
banner image
https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/melbourne.jpg


https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/fitzroy.jpg
https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/st-kilda.jpg
https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/central-business-district.jpg

*/
/**
For banner over lay add this class to your div
<div class="banner__container">
  <div>
      <!-- content goes here -->
  </div>
</div>
*/
.banner__container {
  position: relative;
  flex-direction: column;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/melbourne.jpg");
}

.banner__container:before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);
  content: "";
}

/* banne2 styles */

.banner2{
  padding:10px;
  padding-top:40px;
  padding-bottom: 40px;
  background-color: rgb(236, 230, 230);
}

.banner2 h4{
  background-color: rgb(226, 218, 218);
  padding:5px;
  padding-left:20px;
  font-size: 14px;
  font-weight: bolder;
}

.banner2 p{
  font-weight: bold;
  font-size: 12px;
  background-color: white;
  padding-left: 10px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.item1{
  background-color: white;
  flex-direction: row;
  height: 92px;
}

.item1 img{
  padding: 10px;
  height: 40px;
  align-items:center;
  margin-top: auto;
  margin-bottom: auto;
}

/*banner 3 styles*/
.item2{
  flex-direction: column;
}

.banner3__container h4{
  font-size: 30px;
  font-weight: bold;
}

.banner3__container p{
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 30px;
}

.banner3__container{
  align-items: center;
  flex-direction: column;
  padding-bottom:20px;
  padding-top:40px;
}

.pic3{
  height:200px;
  width: 310px;
background-image:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/fitzroy.jpg") ;
}

.pic4{
  height:200px;
  width: 310px;
  background-image:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/st-kilda.jpg") ;
  }

.pic5{
  height:200px;
  width: 310px;
    background-image:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/central-business-district.jpg") ;
    }
.banner3 h3{
      color:rgb(255, 255, 255);
      font-size: 20px;
      text-align: center;
      flex-direction: column;
      align-items: center;
      align-content:center;
      justify-content: center;
      margin: 0px;
      padding-top: 10px;
      padding-bottom: 10px;
      filter: brightness(100%);
    }

.piccont{
  align-items: center;
  justify-content: center;
}

.banner3 p{
      color:white;
      font-size: 11px;
      font-weight: lighter;
      text-align: center;
      margin: 0px;
      filter: brightness(100%);
    }

.item2 h6{
  font-size: 11px;
  background-color: rgb(236, 232, 232);
  text-align: left;
  justify-content: space-around;
  padding-top:10px ;
  padding-left: 10px;
  padding-right: 10px;
  height:50px;
  width: 290px;
  }


    /*banner4 styles*/
.banner4 nav a{
      background-color: rgb(250, 67, 67) ;
      text-decoration: none;
      color: rgb(255, 255, 255);
      font-size: 14px;
      padding-left: 60px;
      padding-right: 60px;
      padding-top: 10px;
      padding-bottom: 10px;
      box-shadow: 1px 4px 1px rgb(194, 66, 66);
      border-radius: 5px;
    }

.banner4__container{
  height:50px;
      align-items: center;
      align-content:center;
      justify-content: center;
      padding-bottom: 50px;
    }


 /*footer styles*/
.footer h6{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 15px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

.footer1__container{
  height:20px;
  background-color:  rgb(49, 49, 49);
    align-items: center;
    align-content:center;
    justify-content: center;
    padding-bottom: 10px;
    flex-direction: column;
  }

.footer2__container{
height:30px;
background-color: rgb(49, 49, 49);
  align-items: center;
  align-content:center;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 30px;
  flex-direction: column;
}

hr{
  height: 2px;
  margin: 0;
  border: 0px;
  background-color: grey;
}

.footerwrap{
  padding: 30px;
  margin: 0px;
  background-color: rgb(49, 49, 49);
}